In [ ]:
understanding the varibles in python :

In [1]:
x = 2
y = 3

In [2]:
z = x + y 
print(z)

5

In [ ]:
Rule for declaring a variable in python :

In [ ]:
Rule No - 1 : No Name spaces while declaring the variable name

In [4]:
first name = 'faiyaz'
print(first name)

SyntaxError: invalid syntax (2499538331.py, line 1)

In [5]:
firstname = 'faiyaz'
print(firstname)

faiyaz

In [ ]:
Rule No - 2: A variable name should not start with a number **(very important)

In [6]:
1name = 'likitha'
print(1name)

SyntaxError: invalid decimal literal (1550157486.py, line 1)

In [7]:
name1 = 'likitha'
print(name1)

likitha

In [ ]:
Rule No - 3: A variable name should not contain any special characters

In [ ]:
===> @ # $ ^ &

In [8]:
name@ = "john"
print(name@)

SyntaxError: invalid syntax (3265397995.py, line 1)

In [ ]:
Introduction to data types in python :

In [ ]:
1. String ======> str 
2. Numbers (integers ====> int/floats (decimals) ====> 0.1,0.2 ===> float) 
3. Lists ===> list 
4. tuples ===> tuple 
5. dictionaries =====> dict

In [ ]:
classification of data types : 

     Broadly datatypes are classified in to 2 categories : 
            1. mutable datatypes ====> which can able to edit / alter 
            2. immutable datatypes ===> which we will not be able to edit / alter

In [ ]:
Introduction to string datatype :

In [ ]:
defination : A string is a series of characters declared in quotes.

classification : it is classified as an immutable datatype (fixed datatype)

how to define the string datatype =======>
  1. single quote 
  2. double quote

In [9]:
name = 'prasanna' 
print(name)

prasanna

In [10]:
name2 = "joseph"
print(name2)

joseph

In [ ]:
Introduction to string methods :

In [11]:
type(name)

str

In [12]:
type(name2)

str

In [13]:
fullname = 'babji aluri'
print(fullname)

babji aluri

In [14]:
print(fullname.title())

Babji Aluri

In [ ]:
# i want all the letters in capitals

In [15]:
print(fullname.upper())

BABJI ALURI

In [ ]:
# i want all the letters in small case letters

In [16]:
print(fullname.lower())

babji aluri